.page-header{
    background: #4f2683;
    padding: 10px;
    color: #fff;
    margin-bottom: 20px;
}

.page-header img{
    width: 200px;
    vertical-align: middle;
}
.page-header p{
   float: right;
   padding-top: 10px;
   font-size: 18px;
   opacity: 0.8;
}